<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.wccls.Scrape</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/eric/github/wccls-data/scrape.sh</string>
		<string>--periodic</string>
	</array>
	<key>StartInterval</key>
	<integer>900</integer>
	<key>WorkingDirectory</key>
	<string>/Users/eric/github/wccls-data/</string>
</dict>
</plist>
